.DownloadApp {
    justify-content: space-between;
    margin: 0px 15vw;
    align-items: center;
    #descricao {
        margin-bottom: 100px;
        h2 {
            font-size: 3rem;
        }
        p {
            font-size: 0.9rem;
            width: 40vw;
        }
    }

    #telahome {
        height: 500px;
    }

    #googleplay {
        height: 80px;
        width: 190px;
        margin-left: 100px;
    }
}

.ContainerSubscribe {
    margin-top: 40px;
    .Subscribe {
        height: 200px;
        padding: 0 3vw;
        
        h2 {
            width: 400px;
            font-size: 2rem;
        }
        
        p {
            width: 300px;
            font-size: 0.7rem;
            line-height: 15px;
        }
    
        a {
            padding-top: 10px;
            height: 50px;
            width: 150px;
        }
    }
}

.EndSection {
    display: flex;
    justify-content: center;
    
    .Links {
        margin-left: 0;
        justify-content: flex-start;

        .EmailAdd {
            margin-right: 10px;
            h2 {
                font-size: 25px;
                margin-bottom: 20px;
            }
            p {
                font-size: 12px;
                width: 220px;
            }
            
            .Interacoes {
                margin-top: 20px;
                margin-right: 20px;
                input {
                    height: 40px;
                    font-size: 12px;
                    width: 200px;
                }
                a {
                    text-align: center;
                    height: 40px;
                    font-size: 12px;
                    padding-left: 15px;
                    padding-top: 7px;
                }
            }
        }

        .ListaLinks {
            margin-right: 3vw;
            h2 {
                font-size: 18px;
            }
            a {
                font-size: 13px;
            }
        }

        #follow {
            margin-right: 0;
        }
    }
}

.ListaPai{
    display: flex;
    justify-content: flex-start;
}

footer {
    font-size: 15px;
    padding: 20px;
    margin-top: 80px;
}