.menu{
    li{
        margin: 20px;
    }
}

.main{
    height: 65vh;
    
    h1{
        font-size: 50px;
    }

    p{
        font-size: 20px;
    }

    img{
        margin-top: 60px;
    }
}

.prints-main{

    img{
        width: 25vw;
        height: 50vw;
        margin: -25px;
        
        max-width: 250px;
        max-height: 500px;
    }
}

.quem-somos{
    margin-top: 40vh;
}