@media (min-width: 0) {
  .container {
    width: 1150 px;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .card {
    position: relative;
    padding: 10px;
    width: 300px;
    left: 10px;
    height: 380px;
    background-color: #fff;
    margin: 20px;
    -webkit-box-shadow: 2px 20px 25px gray;
            box-shadow: 2px 20px 25px gray;
    border-radius: 20px;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
  }
  .container .card h2, h3 {
    font-size: 2rem;
  }
  .container .card .content {
    padding: 20px;
    text-align: center;
  }
  .container .card .container p {
    color: green;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
  }
  .container .card:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#439889), color-stop(#00695c), to(#003d33));
    background-image: linear-gradient(to right, #439889, #00695c, #003d33);
    color: white;
    margin-top: -30px;
    -webkit-box-shadow: 2px 20px 25px #003d33;
            box-shadow: 2px 20px 25px #003d33;
    border-color: gray;
  }
  .container .card:hover .content p {
    color: #fff;
  }
  .container .card:hover .content a {
    color: black;
    background-color: white;
  }
}

@media (min-width: 768px) {
  .container {
    width: 1150 px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .card {
    height: 450px;
    padding: 10px;
    width: 200px;
  }
  .container .card h2, h3 {
    font-size: 2rem;
  }
  .container .card .content {
    padding: 20px;
    text-align: center;
  }
  .container .card .container p {
    color: green;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
  }
  .container .card:hover {
    -webkit-box-shadow: 2px 20px 25px #003d33;
            box-shadow: 2px 20px 25px #003d33;
    border-color: gray;
  }
  .container .card:hover .content p {
    color: #fff;
  }
  .container .card:hover .content a {
    color: black;
    background-color: white;
  }
}

@media (min-width: 992px) {
  .container {
    width: 1150 px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .card {
    width: 300px;
    margin: 20px;
  }
  .container .card h2, h3 {
    font-size: 2rem;
  }
  .container .card .content {
    padding: 20px;
    text-align: center;
  }
  .container .card .container p {
    color: green;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
  }
  .container .card:hover {
    -webkit-box-shadow: 2px 20px 25px #003d33;
            box-shadow: 2px 20px 25px #003d33;
    border-color: gray;
  }
  .container .card:hover .content p {
    color: #fff;
  }
  .container .card:hover .content a {
    color: black;
    background-color: white;
  }
}
/*# sourceMappingURL=main.css.map */